@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Lato", sans-serif;

  header {
    .navbar-logo {
      img {
        max-height: 60px;
      }
    }
  }

  footer {
    border-top: 5px solid #282c34;
    text-align: left;

    .footer-company-info {

      img {
        max-height: 50px;
      }

      h1 {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: bold;
      }

      h3 {
        color: #282c34;
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: normal;
      }

      p {
        color: #282c34;
        margin-top: 20px;
        font-size: 12px;
      }
    }

    .footer-menu {
      h1 {
        font-size: 15px;
        font-weight: bold;
      }

      .list-group-item {
        border: none !important;
        font-size: 12px;
      }
    }
  }

  .card {
    .card-img-top {
      height: 250px;
      width: auto;
    }
  }

  .start-up-info {
    img {
      max-height: 250px;
    }
  }
}
